<ng-container *ngIf="!loading else loadingTemplate">

  <ng-container *ngIf="(activities$ | async) as activities else loadingTemplate">

    <ng-container *ngIf="activities.length else noActivities">

      <ng-container *ngFor="let activity of activities">

        <app-activity-list-item [activity]="activity"></app-activity-list-item>

      </ng-container>

    </ng-container>

  </ng-container>

  <p class="text-center">
    <button mat-raised-button (click)="addActivity()" color="primary">Add activity</button>
  </p>

</ng-container>


<ng-template #loadingTemplate>
  <app-loading-indicator msg="Loading activities" [autoHeight]="true"></app-loading-indicator>
</ng-template>

<ng-template #noActivities>
  <p id="empty-list" class="text-center">This program doesn't have any activity.</p>
</ng-template>