html { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-wrap: break-word; }

a { 
  text-decoration: none;
  color: inherit;

  &:hover {
    color: darkcyan;
    text-decoration: underline;
    text-decoration-color: currentcolor;
  }
}