.activity-list-item-wrapper {
  border-radius: 4px;
  font-size: small;
  margin-top: 4px;
  padding: 0 8px;
  width: 100%;
  max-width: 100%;

  .activity-list-item-name {
    max-width: calc(100% - 160px);
    flex: 1 0 auto; 
  }
}